/* Style sheet for fallrisk.github.io. */
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';


body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16pt;
	background-color: white;
}
a {
	color: #2C57BA;
}
a:visitied {
	color: #7437B2;
}
a:hover {
	color: #4B76F8;
}
p {
	font-size: 16pt;
}


#banner {
	padding-right: 0;
	padding-left: 0;
	margin: 0 auto;
	text-align: center;
}
#website_title {
	font-size: 24pt;
	font-family: 'Share Tech Mono', monospace;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	display: block;
}
#algorithm_animation {
	margin: 0 auto;
}
#about_site p {
	font-size: 12pt;
}


#nav {
	margin-left: 20px;
	font-size: 20px;
	text-align: center;
}
#nav a {
	text-transform: uppercase;
}

ul.posts li {
	
}
