/*
 * * Inside the blocks organize attributes alphabetically.
 * * Ids identify, classes classify.
 * * Shorthand order: Top, Right, Bottom, Left
 *
 * https://google.github.io/styleguide/htmlcssguide.xml#CSS_Style_Rules
 * https://jigsaw.w3.org/css-validator/
 * https://developers.google.com/speed/docs/insights/UseLegibleFontSizes
 *
 * Table of Contents:
 *   Layout
 *   Type
 *   Color
 *
 * In the section Layout. Remember to use mobile first.
 * - phones/small size screens, default styles
 * - tablets/medisum size screens in a min-width: 28.75em block;
 * - desktops and other larger displays in a min-width: 40.5em block;
 */

@import 'https://fonts.googleapis.com/css?family=Open+Sans|Share+Tech+Mono|Source+Code+Pro';

/* Layout */

  *,
  *:before,
  *:after {
    box-sizing: border-box;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    position: relative;
  }

  #banner {
    margin: 0 auto 0 auto;
  }

    #website-title {
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
      display: block;
    }

      #def-stmt {
        font-weight: bold;
      }

  #merge-sort-anim {
    margin: 0 auto 0 auto;
  }

  #nav {
    margin: 0 0 0 20px;
  }

  #content {
    margin: 0 40px 0 40px;
    padding: 0 0 200px 0;
  }

  /* Always at the bottom, but not fixed. */
  /* https://codepen.io/cbracco/pen/zekgx */
  #footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5px;
  }

  figure {
    overflow-x: scroll;
    overflow-y: visible;
    padding: 10px 0 0 0;
  }

  ol,
  ul {
    list-style-position: inside;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  ol,
  ul {
    margin: 16px 0 0 0;
  }

/* Type */

  html {
    font-size: 16px; /* All other fonts are "rem" and based off of this. */
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  body {
  }

  #website-title {
    font-size: 18px;
    font-family: 'Share Tech Mono', monospace;
  }

  #banner {
    text-align: center;
  }

  #footer {
    text-align: center;
  }

    #footer p a {
      font-size: 16px;
    }

  #about p {
    font-size: 12px;
  }

  #nav {
    font-size: 18px;
    text-align: center;
  }

    #nav a {
      text-transform: uppercase;
    }

  ol,
  ul,
  p {
    font-size: 16px;
    line-height: 1.42;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    font-size: 20px;
  }

  figure,
  pre,
  code {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    line-height: 1.12;
  }

    code span {
      font-size: 16px;
    }

/* Color */

  a {
    color: #2C57BA;
    text-decoration: none;
  }
    a:visitied {
      color: #7437B2;
      text-decoration: none;
    }

    a:hover {
      color: #4B76F8;
      text-decoration: none;
    }

  body {
    background-color: white;
  }

  #footer {
    background-color: #efefef;
  }

/* Tablet or rotated phone view. */
@media screen and (min-width: 500px) {

  /* Layout */

  /* Type */

  /* Color */
}

/* Desktop view */
@media screen and (min-width: 800px) {

  /* Layout */

  /* Type */

  /* Color */
}
